services:
  app:
    build: .
    container_name: backend-apm-oid
    ports:
      - "3001:3000"
    env_file:
      - .env
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
